.forum-container {
  max-width: 800px;
  margin: auto;
}
.forum-container > h2 {
  font-size: 1.2em;
}
.forum-container .forum-card > h2 {
  font-size: 2em;
  margin-bottom: 10px;
}
.forum-container .forum-card .forum-card-body {
  border: 1px solid #ccc;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px;
}

.forum-container .forum-card .forum-card-body .forum-upvotes svg {
  font-size: 0.8em;
}

.forum-container .forum-card .forum-card-body .forum-upvotes {
  font-size: 1em;
  border: 1px solid black;
  border-radius: 10px;
  width: fit-content;
  padding: 3px 5px;
  margin-top: 5px;
}

.forum-container .forum-card .forum-card-body > p {
  font-size: 1.1em;
  margin-top: 10px;
}
.forum-container .forum-card .forum-card-body .forum-card-header {
  display: flex;
  column-gap: 5px;
  font-size: 0.9em;
  font-weight: 500;
  align-items: center;
  /* padding: 10px; */
}

.forum-container .comment-card {
  border: 1px solid #ccc;
  background-color: rgb(242 242 242);
}

.forum-container .comment-card .comment-card-edit {
  display: flex;
  flex-direction: column;
}

.forum-container .comment-card .comment-card-edit > div {
  margin-bottom: 10px;
}
.forum-container .comment-card .comment-card-edit textarea {
  width: 100%;
  height: 50px;
  padding: 5px;
  font-size: 1.1em;
  resize: none;
  outline: none;
}
.forum-container .comment-card .comment-card-body {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.forum-container .comment-card .comment-card-body .comment-card-header {
  display: flex;
  justify-content: space-between;
}

.forum-container .comment-card .comment-card-body .comment-card-header > div {
  display: flex;
  column-gap: 5px;
  align-items: center;
  font-size: 0.9em;
  font-weight: 500;
}

.forum-container .comment-card .comment-card-body > p {
  font-size: 1.1em;
  margin-top: 10px;
}
.forum-container button {
  background-color: #6f6f6f;
  border: none;
  cursor: pointer;
  font-size: 0.8em;
  color: white;
  font-weight: bold;
  width: auto;
  padding: 5px 5px;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.forum-container button:hover {
  background-color: white;
  color: #6f6f6f;
}
